
ConnectionStrings__DefaultConnection="Host=ipdb;Port=portdb;Database=nama_db;Username=postgres;Password=passworddb;Timeout=300;CommandTimeout=300"
DatabaseProvider=postgresql

JwtSettings__SecretKey=SuperStrongSecretKeyForLabAccessSMKN1Katapang2024!
JwtSettings__Issuer=LabAccessAPI
JwtSettings__Audience=LabAccessClient
JwtSettings__ExpireMinutes=1440

CORS__Origins=ipfrontend:port,ipfrontend:port,ipfrontend:port,ipfrontend:port,ipfrontend:port

AppSettings__Environment=Development
AppSettings__LogLevel=Information
AppSettings__ApiUrl=http://localhost:5292

Swagger__Enabled=true
Swagger__Title=Lab Access API
Swagger__Version=v1